/*THIS CSS FILE IS OWNED BY THE REPUBLIC OF IVANISTAN USE IT IF YOU WANT*/
/*background and text*/
body {
    background-color:  #ffffff;
  }
  p {
    text-align:center
   }
   h1{
     text-align:center
   }
h2{
text-align:center
}
   img {
    image-orientation: from-image;
}
.download {
  width:100px;
  margin-left:auto;
  margin-right:auto;
  }
  #time{
    font-weight:bold
  }
  #mail{
    text-align: center
  }
  /*navbar 2*/
  .navbar-brand {
    text-align:center
    width 100%;
    position:absolute;
  }
 /* navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }
  /*picture*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    image-orientation: from-image;
  }
  /*newsbox*/
  .news{
    height: 640px;
    width: 1495px;
    padding: 10px;
    border: 5px solid rgb(56, 59, 66);
    margin: 0;
    text-align:center  
  }
